/*--------- Підключення шрифтів ---------------- */
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Medium.woff2") format("woff2");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit.woff2") format("woff2");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
/* код */

body{
	font-family: "Roboto";
}

h1 {
	color: blueviolet;
	text-align: center;
	padding: 20px;

}
h2{
	padding: 20px;
	color: crimson;
}
h3{
	color: greenyellow;
	padding: 20px;
	font-size: 20px;
}
li{
	text-decoration: underline;
}

.title{
	font-family: "lato";
	font-weight: 900;
}
.country {
	display: flex;
	justify-content: center;
	
}
.text p {
	font-size: 35px;
}
.block-one {
	font-family: "lato";
	font-weight: 400;
	color: saddlebrown;
	
}
.usb-title {
	font-family: "lato";
	font-weight: 900;
	color:green;
}
.block-two {
	font-family: "lato";
	font-weight: 700;
	color: rebeccapurple;
}
.block-tree {
	font-family: "lato";
	font-weight: 900;
	color: darkcyan;
}
.sub-title {
	font-family: "lato";
	font-weight: 900;
	color: red;
}
.list {
	padding-left: 40px;
}
.list li{
	text-decoration: none;

}
.block-four {
	font-family: "lato";
	font-weight: 700;
	color: royalblue;
}
.footer {
}
.footer p {
	text-decoration: underline;
}
.link {
	color: blue;
}
span {
	color:rgba(33, 8, 146, 0.6);
}